@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.cabecalho {
    background-color: #6e182c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding: 0 1%;
}

.cabecalho a {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 11.8px;
    text-decoration: none;
}

.ouvidoria {
    padding-left: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.direita {
    padding-right: 270px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.icones-social {
    display: flex;
    gap: 5px;
}

.icones-social i {
    font-size: 17px;
}

.segundo-cabecalho {
    background-color: white;
    padding: 0 1%;
    height: 70px;
    position: relative;
    display: flex;
    flex: 1;
    justify-content: space-between;
    overflow: visible;
}

.nome-site {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 7%;
    letter-spacing: 3px;
    flex-shrink: 0;
}

.nome-site a {
    font-size: 35px;
    color: #706f6f;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

#fluminense {
    font-weight: bold;
}

#fc {
    font-weight: 400;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.logo img {
    width: auto;
    height: 100px;
}

.patrocinios {
    display: flex;
    align-items: center;
    margin-right: 10%;
    gap: 10px;
}

.patrocinios img {}

.patrocinios #umbro {
    width: auto;
    height: 40px;
}

.patrocinios #superbet {
    width: auto;
    height: 90px;
}

.search {
    display: flex;
    align-items: center;
    margin-left: 37%;
}

input[type="search"] {
    width: 190px;
    height: 35px;
    border: solid 1px #ccc;
    outline: none;
}

input {
    padding: 10px 15px;
    border: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

input[type="search"]::placeholder {
    color: #ccc;
    font-size: 15px;
}

input[type="search"]:focus {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.main-menu {
    height: 50px;
    background-color: #01633d;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px black;
}


.main-menu a,
.dropbtn {
    color: white;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 13.2px;
    align-items: center;
}


.menu-options li {
    display: inline-block;
}


.menu-options {
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
    margin: 0;
}

li.dropdown {
    display: inline-block;
    position: relative;
    padding: 0;
}

.dropdown-content {
    position: absolute;
    background-color: white;
    width: 250px;
    max-height: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    display: none;
    padding: 0px;
    margin: 0;
    align-items: center;
    z-index: 100;
    top: 100%;
    left: 0;
}

.dropdown-content a {
    color: #838383;
    display: block;
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
    max-height: 50px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.contents {
    max-width: 1200px;
    margin: 40px auto;
    margin-top: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.main-news {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.main-news img {
    width: 100%;
    height: 110%;
    object-fit: cover;
}

.main-news-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 5px;
    padding-left: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.8));
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

.main-news-text h2 {
    font-size: 50px;
    margin-bottom: -10px;
}

.main-news-text p {
    font-size: 22px;
    margin: 0;
}

.side-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 420px;
}

.side-news img {
    width: auto;
    width: 120px;
}

.news-item {
    display: flex;
    gap: 12px;
    align-items: flex-start;
    border-bottom: 2px solid #ccc;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;

}

.news-item-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    line-height: 1.2;
}

.news-item-text h2 {
    font-size: 0.9rem;
    color: black;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

.news-item-text a {
    font-size: 1rem;
    color: #01633d;
    margin: 0;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}